@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css";
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
/* line 5, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/base/_reset.scss */
html {
  font-size: 10px;
  line-height: 1.4; }

/* line 10, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/base/_reset.scss */
html {
  font-size: 10px; }

/* line 14, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/base/_reset.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 28, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/base/_reset.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 33, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/base/_reset.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
/* line 42, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/base/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
/* line 57, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/base/_reset.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
/* line 70, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/base/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
/* line 80, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/base/_reset.scss */
textarea {
  resize: vertical; }

/* line 84, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/base/_reset.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/* line 94, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/base/_reset.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/*
 * Hide visually and from screen readers
 */
/* line 109, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/base/_reset.scss */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
/* line 118, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/base/_reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
/* line 135, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/base/_reset.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
/* line 149, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/base/_reset.scss */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 165, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/base/_reset.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

/* line 171, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/base/_reset.scss */
.clearfix:after {
  clear: both; }

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

@media print {
  /* line 199, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/base/_reset.scss */
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  /* line 211, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/base/_reset.scss */
  a,
  a:visited {
    text-decoration: underline; }
  /* line 216, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/base/_reset.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }
  /* line 220, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/base/_reset.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  /* line 229, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/base/_reset.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  /* line 234, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/base/_reset.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  /* line 245, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/base/_reset.scss */
  thead {
    display: table-header-group; }
  /* line 249, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/base/_reset.scss */
  tr,
  img {
    page-break-inside: avoid; }
  /* line 254, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/base/_reset.scss */
  img {
    max-width: 100% !important; }
  /* line 258, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/base/_reset.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  /* line 265, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/base/_reset.scss */
  h2,
  h3 {
    page-break-after: avoid; } }

/* line 7, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Base/_core.scss */
.Container {
  margin: 0 auto;
  width: 120rem; }
  /* line 11, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Base/_core.scss */
  .Container--Flex {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%; }
    /* line 17, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Base/_core.scss */
    .Container--Flex > .row {
      width: 100%; }

/* line 8, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Modules/_productsItem.scss */
.Products {
  font-family: "Roboto", sans-serif; }
  /* line 11, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Modules/_productsItem.scss */
  .Products__Item {
    border: 0.1rem solid #ff6666;
    color: #878787;
    display: inline-block;
    padding: 1.7rem 1.7rem 0;
    position: relative;
    width: 100%; }
    /* line 19, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Modules/_productsItem.scss */
    .Products__Item.Off-72 {
      transition: all 0.3s ease; }
      /* line 104, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Base/_mixins.scss */
      .Products__Item.Off-72::before {
        background: #ff6666;
        border-radius: 50%;
        color: #fff;
        content: "72% off";
        display: inline-block;
        height: 5.7rem;
        line-height: 1.6rem;
        padding: 1.3rem 1.5rem;
        position: absolute;
        top: .8rem;
        left: 1.1rem;
        text-align: center;
        width: 5.7rem; }
      /* line 120, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Base/_mixins.scss */
      .Products__Item.Off-72::after {
        border: .3rem solid transparent;
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: all 0.3s ease; }
      /* line 132, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Base/_mixins.scss */
      .Products__Item.Off-72:hover {
        box-shadow: 0 0 1rem 0.3rem rgba(77, 77, 77, 0.2);
        cursor: pointer; }
        /* line 136, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Base/_mixins.scss */
        .Products__Item.Off-72:hover::after {
          border-color: #ff6666; }
    /* line 23, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Modules/_productsItem.scss */
    .Products__Item.Off-68 {
      transition: all 0.3s ease; }
      /* line 104, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Base/_mixins.scss */
      .Products__Item.Off-68::before {
        background: #ff931d;
        border-radius: 50%;
        color: #fff;
        content: "68% off";
        display: inline-block;
        height: 5.7rem;
        line-height: 1.6rem;
        padding: 1.3rem 1.5rem;
        position: absolute;
        top: .8rem;
        left: 1.1rem;
        text-align: center;
        width: 5.7rem; }
      /* line 120, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Base/_mixins.scss */
      .Products__Item.Off-68::after {
        border: .3rem solid transparent;
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: all 0.3s ease; }
      /* line 132, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Base/_mixins.scss */
      .Products__Item.Off-68:hover {
        box-shadow: 0 0 1rem 0.3rem rgba(77, 77, 77, 0.2);
        cursor: pointer; }
        /* line 136, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Base/_mixins.scss */
        .Products__Item.Off-68:hover::after {
          border-color: #ff931d; }
    /* line 27, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Modules/_productsItem.scss */
    .Products__Item.Off-66 {
      transition: all 0.3s ease; }
      /* line 104, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Base/_mixins.scss */
      .Products__Item.Off-66::before {
        background: #ff931d;
        border-radius: 50%;
        color: #fff;
        content: "66% off";
        display: inline-block;
        height: 5.7rem;
        line-height: 1.6rem;
        padding: 1.3rem 1.5rem;
        position: absolute;
        top: .8rem;
        left: 1.1rem;
        text-align: center;
        width: 5.7rem; }
      /* line 120, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Base/_mixins.scss */
      .Products__Item.Off-66::after {
        border: .3rem solid transparent;
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: all 0.3s ease; }
      /* line 132, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Base/_mixins.scss */
      .Products__Item.Off-66:hover {
        box-shadow: 0 0 1rem 0.3rem rgba(77, 77, 77, 0.2);
        cursor: pointer; }
        /* line 136, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Base/_mixins.scss */
        .Products__Item.Off-66:hover::after {
          border-color: #ff931d; }
    /* line 31, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Modules/_productsItem.scss */
    .Products__Item.Off-45 {
      transition: all 0.3s ease; }
      /* line 104, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Base/_mixins.scss */
      .Products__Item.Off-45::before {
        background: #ffbe17;
        border-radius: 50%;
        color: #fff;
        content: "45% off";
        display: inline-block;
        height: 5.7rem;
        line-height: 1.6rem;
        padding: 1.3rem 1.5rem;
        position: absolute;
        top: .8rem;
        left: 1.1rem;
        text-align: center;
        width: 5.7rem; }
      /* line 120, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Base/_mixins.scss */
      .Products__Item.Off-45::after {
        border: .3rem solid transparent;
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: all 0.3s ease; }
      /* line 132, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Base/_mixins.scss */
      .Products__Item.Off-45:hover {
        box-shadow: 0 0 1rem 0.3rem rgba(77, 77, 77, 0.2);
        cursor: pointer; }
        /* line 136, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Base/_mixins.scss */
        .Products__Item.Off-45:hover::after {
          border-color: #ffbe17; }
    /* line 35, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Modules/_productsItem.scss */
    .Products__Item.Off-40 {
      transition: all 0.3s ease; }
      /* line 104, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Base/_mixins.scss */
      .Products__Item.Off-40::before {
        background: #ffbe17;
        border-radius: 50%;
        color: #fff;
        content: "40% off";
        display: inline-block;
        height: 5.7rem;
        line-height: 1.6rem;
        padding: 1.3rem 1.5rem;
        position: absolute;
        top: .8rem;
        left: 1.1rem;
        text-align: center;
        width: 5.7rem; }
      /* line 120, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Base/_mixins.scss */
      .Products__Item.Off-40::after {
        border: .3rem solid transparent;
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: all 0.3s ease; }
      /* line 132, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Base/_mixins.scss */
      .Products__Item.Off-40:hover {
        box-shadow: 0 0 1rem 0.3rem rgba(77, 77, 77, 0.2);
        cursor: pointer; }
        /* line 136, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Base/_mixins.scss */
        .Products__Item.Off-40:hover::after {
          border-color: #ffbe17; }
    /* line 39, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Modules/_productsItem.scss */
    .Products__Item__Img {
      text-align: center; }
    /* line 45, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Modules/_productsItem.scss */
    .Products__Item__Price .Price__New {
      color: #ff6666;
      font-size: 25px;
      font-size: 2.5rem;
      /* stylelint-disable-line declaration-block-no-duplicate-properties */ }
    /* line 51, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Modules/_productsItem.scss */
    .Products__Item__Price .Price__Old {
      position: relative;
      font-size: 12.82px;
      font-size: 1.282rem;
      /* stylelint-disable-line declaration-block-no-duplicate-properties */ }
      /* line 56, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Modules/_productsItem.scss */
      .Products__Item__Price .Price__Old::before {
        border: 0.1rem solid #878787;
        content: '';
        display: inline-block;
        position: absolute;
        top: .5rem;
        width: 100%;
        transform: rotate(10deg); }
    /* line 68, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Modules/_productsItem.scss */
    .Products__Item__Price .Shop {
      padding-top: 1rem;
      text-align: right;
      font-size: 13px;
      font-size: 1.3rem;
      /* stylelint-disable-line declaration-block-no-duplicate-properties */ }
    /* line 76, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Modules/_productsItem.scss */
    .Products__Item__Description {
      border: .2rem dashed;
      border-color: #e6e6e6 transparent #e6e6e6 transparent;
      padding: 1.7rem 0; }
    /* line 82, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Modules/_productsItem.scss */
    .Products__Item__AdditionalInfo {
      text-align: center; }
      /* line 86, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Modules/_productsItem.scss */
      .Products__Item__AdditionalInfo .Info__Item {
        border-right: 0.1rem solid #e6e6e6;
        margin: .8rem 0; }
        /* line 90, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Modules/_productsItem.scss */
        .Products__Item__AdditionalInfo .Info__Item.LastItem {
          border-right: none; }
    /* line 98, /Volumes/Media/Work/Test-Tasks/roundforest.com/roundforest_tt/app/scss/Modules/_productsItem.scss */
    .Products__Item:hover .Products__Item__Description {
      text-decoration: underline; }

/*# sourceMappingURL=maps/tt-styles.css.map */
