// standard
// ------------------------------------------
$color-white:       #fff;
$color-black:       #000;
// ------------------------------------------

// grays
// ------------------------------------------
$color-gray0:       #fafafa;
$color-gray1:       #f5f6f7;
$color-gray2:       #dce2e4;
$color-gray3:       #b4b4b4;
$color-gray4:       #999;
$color-gray5:       #4d4d4d;
$color-gray6:       #333;
// ------------------------------------------

// brands
// ------------------------------------------
$color-moon:        #bbc1ce; // light blue
$color-brand:       #57b8ef; // blue
$color-secondary:   #ff7959; // orange
$color-accent:      #54616b; // fuchsia
$color-darkMoon:    #252d31; // mostly black
$color-other:       #faad1a; // orange
// ------------------------------------------